.search-page {
  &__head {
    display: flex;
    justify-content: center;
  }
  &__content {
    margin-top: 24px;
  }
  &.item {
    margin: 8px auto 0;
    padding: 8px;
    transition: background-color ease 0.15s;
    & > h4 {
      margin-bottom: 0;
    }
    &:not(.item_exist):hover {
      cursor: pointer;
      background-color: #f3f3f3;
      & > h4 {
        color: #002766;
        & > i {
          color: #fadb14;
        }
      }
    }
    &_exist {
      & i {
        color: #52c41a;
      }
    }
  }
}
