.app {
  &__header {
    background-color: #fff;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__search {
    width: 480px;
  }
  &__content {
    background-color: #fff;
  }
}
