.main-page {
  &__bounds {
    margin-top: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-gap: 30px;
  }
  &__card {
    position: relative;
    &:hover {
      .main-page__card__button {
        display: block;
      }
    }
    &__button {
      position: absolute;
      display: none;
      top: 8px;
      right: 8px;
      &:hover,
      &:active,
      &:focus {
        color: #ff4d4f;
        border-color: #ff4d4f;
      }
    }
  }
}
